@using System.ComponentModel.DataAnnotations
@inject Manager manager
@inject LoginInformation LoginInfo

<EditForm Model="@NewTaskItem" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row align-items-start" style="font-size: 10px;">
        <div class="col">
            <label class="form-label">Task</label>
        </div>
        <div class="col-2">
            <label class="form-label">Responsible</label>
        </div>
        <div class="col-1">
            <label class="form-label">Deadline</label>
        </div>
        
        <div class="col-1">
            <label class="invisible">Submit</label>
        </div>
    </div>

    <div class="row align-items-end">
        <div class="col">
            <InputText @ref=TaskText class="form-control" @bind-Value="NewTaskItem.Title" />
        </div>

        <div class="col-2">
            <InputSelect class="form-control" @bind-Value="NewTaskItem.ResponsibleId">
                <option value=0>-- Select Responsible --</option>
                @foreach (var e in AllActiveEmployees)
                {
                    <option value="@e.EmployeeId">@e.EmployeeName</option>
                }
            </InputSelect>
        </div>
        
        <div class="col-1">
            <InputDate class="form-control" @bind-Value="NewTaskItem.Deadline" />
        </div>
        
        <div class="col-1">
            <button class="modern-button" 
            style="font-size: 12px;"
                    type="submit">
                Add Task
            </button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int ProjectId { get; set; }

    [Parameter]
    public int ParentTaskId { get; set; }

    [Parameter]
    public List<Employee> AllActiveEmployees { get; set; } = [];

    [Parameter]
    public EventCallback<TaskItem> OnTaskAdded { get; set; }

    InputText TaskText = new();

    private TaskItem NewTaskItem = new()
    {
        Title = "",
        Deadline = DateTime.Today.AddDays(1)
    };

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
    }

    private async Task HandleValidSubmit()
    {
        NewTaskItem.ProjectId = ProjectId;
        NewTaskItem.ParentTaskId = ParentTaskId;
        await OnTaskAdded.InvokeAsync(NewTaskItem);
        ResetForm();
        if (TaskText?.Element.HasValue == true)
        {
            await TaskText.Element.Value.FocusAsync();
        }
    }

    private void ResetForm()
    {
        int employeeId = LoginInfo.CurrentEmployee == null ? 0 : LoginInfo.CurrentEmployee.EmployeeId;
        NewTaskItem = new TaskItem
        {
            ProjectId = ProjectId,
            Title = "",
            Description = "",
            Deadline = DateTime.Today.AddDays(1),
            ResponsibleId = employeeId
        };
    }
}
