@using System.ComponentModel.DataAnnotations

<EditForm Model="@NewTaskItem" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row align-items-start" style="font-size: 10px;">
        <div class="col">
            <label class="form-label">Task</label>
        </div>
        <div class="col-1">
            <label class="form-label">Deadline</label>
        </div>
        <div class="col-2">
            <label class="form-label">Responsible</label>
        </div>
        <div class="col-1">
            <label class="invisible">Submit</label>
        </div>
    </div>

    <div class="row align-items-end">
        <div class="col">
            <InputText class="form-control" @bind-Value="NewTaskItem.Title" />
        </div>
        
        <div class="col-1">
            <InputDate class="form-control" @bind-Value="NewTaskItem.Deadline" />
        </div>
        <div class="col-2">
            <InputText class="form-control" @bind-Value="ResponsibleInput" />
        </div>
        <div class="col-1">
            <button class="btn rounded-pill border border-white text-white px-4 py-2"
                    type="submit">
                Add Task
            </button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int ProjectId { get; set; }

    [Parameter]
    public int ParentTaskId { get; set; }

    [Parameter]
    public EventCallback<TaskItem> OnTaskAdded { get; set; }

    private TaskItem NewTaskItem = new()
    {
        Title = "",
        Deadline = DateTime.Today.AddDays(1)
    };

    private string ResponsibleInput = "";

    private async Task HandleValidSubmit()
    {
        NewTaskItem.ProjectId = ProjectId;
        NewTaskItem.ParentTaskId = ParentTaskId;
        await OnTaskAdded.InvokeAsync(NewTaskItem);
        ResetForm();
    }

    private void ResetForm()
    {
        NewTaskItem = new TaskItem
        {
            ProjectId = ProjectId,
            Title = "",
            Description = "",
            Deadline = DateTime.Today.AddDays(1)
        };
        ResponsibleInput = "";
    }
}
