<div class="text-white">
    <div class="form-check mb-2">
        <InputCheckbox class="form-check-input"
                       @bind-Value="ShowAll" />
        <label class="form-check-label">Show All Projects</label>
    </div>

    <div class="form-check">
        <InputCheckbox class="form-check-input"
                       @bind-Value="ShowAllTasks" />
        <label class="form-check-label">Show All Tasks</label>
    </div>
</div>

@code {
        [Parameter]
        public EventCallback<bool> OnShowAllChanged { get; set; }

        [Parameter]
        public EventCallback<bool> OnShowIncompleteChanged { get; set; }

    private bool showAll;

    public bool ShowAll
    {
        get { return showAll; }
        set
            {
                showAll = value;
                OnShowAllChanged.InvokeAsync(value);
            }
    }

    private bool showAllTasks;

    public bool ShowAllTasks
    {
        get { return showAllTasks; }
        set
        {
            showAllTasks = value;
            OnShowIncompleteChanged.InvokeAsync(value); }
    } 
}
