@page "/department/jd"
@attribute [Authorize]
@inject Manager manager
@inject IJSRuntime JS
@rendermode InteractiveServer

<PageTitle>nexus | JD</PageTitle>
<div style="padding: 10px 20px 10px 30px;">
</div>

@code {

}
