<div class="navbar">
    <div class="logo">nɛxus</div>
    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/configuration">Configuration</a>
        <a href="/tasks">Tasks</a>
        <a href="/simulation">Simulation</a>
        <a href="/admin">Admin</a>
    </nav>
</div>