<div class="navbar">
    <div class="logo">nɛxus<span style="font-size:x-small;"> | by iamJohnnySam</span></div>

    <div class="menu">
        <nav>
            <a href="/">Home</a>

            <div class="dropdown">
                <button class="dropButton">Projects</button>
                <div class="dropdown-content">
                    <a href="/projects">Project Overview</a>
                    <a href="/configuration">Project Configuration</a>
                    <a href="/">----- Manager -----</a>
                    <a href="/projects/customer">Customer Manager</a>
                    <a href="/configuration/product">Product Manager</a>
                    <a href="/configuration/module">Module Manager</a>
                    <a href="/configuration/specification">Specification Manager</a>
                </div>
             </div>

            <div class="dropdown">
                <button class="dropButton">Trackers</button>
                <div class="dropdown-content">
                    <a href="/project_timeline">Project Timeline</a>
                    <a href="/manual_resource_allocation_by_project">Manual Resource Allocation (Project)</a>
                    <a href="/manual_resource_allocation_by_employee">Manual Resource Allocation (Employee)</a>
                    <a href="/manual_resource_allocation_weekly">Manual Resource Allocation (Weekly)</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropButton">Tasks</button>
                <div class="dropdown-content">
                    <a href="/tasks">Project Tasks</a>
                    <a href="/review">Project Review</a>
                    <a href="/">----- Manager -----</a>
                    <a href="/review_manager">Review Manager</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropButton">Hardware</button>
                <div class="dropdown-content">
                    <a href="/simulation">Simulation</a>
                    <a href="/simulation/scenario">Scenario Setup</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropButton">Department</button>
                <div class="dropdown-content">
                    <a href="/department/organization_chart">Reporting Structure</a>
                    <a href="/department/department_flow">Process Flow</a>
                    <a href="/">----- Manager -----</a>
                    <a href="/department/grade">Grade Manager</a>
                    <a href="/department/designation">Designation Manager</a>
                    <a href="/department/employee">Employee Manager</a>
                    <a href="/department/jd">JD Manager</a>
                    <a href="/department/functional_kpi">KPI Manager</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropButton">Admin</button>
                <div class="dropdown-content">
                    <a href="/admin/login">Login</a>
                    <a href="/admin/product">Product</a>
                    <a href="/admin/configdetail">Configuration Detail</a>
                    <a href="/admin/configuration">Configuration</a>
                    <a href="/admin/projectstage">Project Stage</a>
                    <a href="/admin/deliverable">Deliverable</a>
                    <a href="/admin/functionalkpi">Functional KPI</a>
                    <a href="/admin/milestone">Milestone</a>
                    <a href="/admin/oemitem">OEMItem</a>
                    <a href="/admin/projectblock">Project Block</a>
                    <a href="/admin/resourceblock">Resource Block</a>
                    <a href="/admin/supplier">Supplier</a>

                </div>
            </div>

            <div class="dropdown">
                <button class="dropButton">Profile</button>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            
        </nav>
    </div>
</div>