@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Nav
@inject LoginInformation LoginInfo

<div class="navbar">
    <div class="logo">nɛxus<span style="font-size:x-small;"> | by iamJohnnySam</span></div>

    <div class="menu">
        <nav>
            <a href="/">Home</a>
            <AuthorizeView Context="auth">
                <NotAuthorized>
                    <a href="/report">Report</a>
                    <a href="/login">Login</a>
                </NotAuthorized>
                <Authorized>
                    <div class="dropdown">
                        <button class="dropButton">Project</button>
                        <div class="dropdown-content">
                            <a href="/overview">Project Summary</a>
                            <a href="/report">Project Summary Report</a>
                            <a href="/configuration">Project Configuration</a>
                            <a href="/tasks">Project Tasks</a>
                            <a href="/review">Project Review</a>
                            <a href="/">----- Trackers -----</a>
                            <a href="/project_timeline">Project Timeline</a>
                            <a href="/manual_resource_allocation_by_project">Resource Allocation (Project)</a>
                            <a href="/manual_resource_allocation_by_employee">Resource Allocation (Employee)</a>
                            <a href="/manual_resource_allocation_weekly">Resource Allocation (Weekly)</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropButton">Hardware</button>
                        <div class="dropdown-content">
                            <a href="/simulation">Simulation</a>
                            <a href="/simulation/scenario">Scenario Setup</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropButton">Documentation</button>
                        <div class="dropdown-content">
                            <a href="/writer">Writer</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropButton">Department</button>
                        <div class="dropdown-content">
                            <a href="/department/organization_chart">Reporting Structure</a>
                            <a href="/department/department_flow">Process Flow</a>
                            
                        </div>
                    </div>

                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <div class="dropdown">
                                <button class="dropButton">Managers</button>
                                <div class="dropdown-content">
                                    <a href="/projects/customer">Customer Manager</a>
                                    <a href="/configuration/product">Product Manager</a>
                                    <a href="/projects">Project Manager</a>

                                    <a href="/configuration/module">Module Manager</a>
                                    <a href="/configuration/specification">Specification Manager</a>
                                    <a href="/review_manager">Review Manager</a>


                                    <a href="/department/grade">Grade Manager</a>
                                    <a href="/department/designation">Designation Manager</a>
                                    <a href="/department/employee">Employee Manager</a>
                                    <a href="/department/jd">JD Manager</a>
                                    <a href="/department/functional_kpi">KPI Manager</a>

                                    <a href="/admin/login">Login</a>
                                    <a href="/admin/product">Product</a>
                                    <a href="/admin/projectstage">Project Stage</a>
                                    <a href="/admin/deliverable">Deliverable</a>
                                    <a href="/admin/functionalkpi">Functional KPI</a>
                                    <a href="/admin/milestone">Milestone</a>
                                    <a href="/admin/oemitem">OEMItem</a>
                                    <a href="/admin/projectblock">Project Block</a>
                                    <a href="/admin/resourceblock">Resource Block</a>
                                    <a href="/admin/supplier">Supplier</a>
                                </div>
                            </div>
                        </Authorized>
                    </AuthorizeView>

                    <div class="dropdown">
                        <button class="dropButton">@UserName</button>
                        <div class="dropdown-content">
                            <a href="/profile">Profile</a>

                            <AuthorizeView Roles="Admin">
                                <Authorized>
                                    <a href="/sync">Sync</a>
                                </Authorized>
                            </AuthorizeView>
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                </Authorized>
            </AuthorizeView>
        </nav>
    </div>
</div>

@code {
    private string UserName { get; set; } = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated ?? false)
        {
            UserName = user.Identity?.Name ?? "User";
        }
        else
        {
            UserName = "Guest";
        }
    }
}
