<div class="navbar">
    <div class="logo">nɛxus</div>

    <div class="menu">
        <nav>
            <a href="/">Home</a>

            <div class="dropdown">
                <button class="dropbtn">Projects</button>
                <div class="dropdown-content">
                    <a href="/projects">Overview</a>
                    <a href="/configuration">Configuration</a>
                    <a href="/simulation">Simulation</a>
                </div>
             </div>

            <a href="/trackers">Trackers</a>

            <div class="dropdown">
                <button class="dropbtn">Tasks</button>
                <div class="dropdown-content">
                    <a href="/tasks">Project Tasks</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Admin</button>
                <div class="dropdown-content">
                    <a href="/admin">Full Panel</a>
                </div>
            </div>

            <a href="/logout">Logout</a>
        </nav>
    </div>
</div>