<div class="navbar">
    <div class="logo">nɛxus</div>

    <div class="menu">
        <nav>
            <a href="/">Home</a>

            <div class="dropdown">
                <button class="dropbtn">Projects</button>
                <div class="dropdown-content">
                    <a href="/projects">Overview</a>
                    <a href="/configuration">Configuration</a>
                    <a href="/simulation">Simulation</a>
                </div>
             </div>

            <div class="dropdown">
                <button class="dropbtn">Trackers</button>
                <div class="dropdown-content">
                    <a href="/project_timeline">Project Timeline</a>
                    <a href="/manual_resource_allocation_by_project">Manual Resource Allocation (Project)</a>
                    <a href="/manual_resource_allocation_by_employee">Manual Resource Allocation (Employee)</a>
                    <a href="/manual_resource_allocation_weekly">Manual Resource Allocation (Weekly)</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Tasks</button>
                <div class="dropdown-content">
                    <a href="/tasks">Project Tasks</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Admin</button>
                <div class="dropdown-content">
                    <a href="/admin/designation">Designation</a>
                    <a href="/admin/grade">Grade</a>
                    <a href="/admin/employee">Employee</a>
                    <a href="/admin/login">Login</a>
                    <a href="/admin/customer">Customer</a>
                    <a href="/admin/product">Product</a>
                    <a href="/admin/project">Project</a>
                    <a href="/admin/configdetail">Configuration Detail</a>
                    <a href="/admin/configuration">Configuration</a>
                    <a href="/admin/taskitem">Task Item</a>
                    <a href="/admin/projectstage">Project Stage</a>
                    <a href="/admin/deliverable">Deliverable</a>
                    <a href="/admin/functionalkpi">Functional KPI</a>
                    <a href="/admin/milestone">Milestone</a>
                    <a href="/admin/oemitem">OEMItem</a>
                    <a href="/admin/productmodule">Product Module</a>
                    <a href="/admin/projectblock">Project Block</a>
                    <a href="/admin/resourceblock">Resource Block</a>
                    <a href="/admin/reviewitem">Review Item</a>
                    <a href="/admin/reviewpoint">Review Point</a>
                    <a href="/admin/simulationscenario">Simulation Scenario</a>
                    <a href="/admin/specification">Specification</a>
                    <a href="/admin/supplier">Supplier</a>

                </div>
            </div>

            <a href="/logout">Logout</a>
        </nav>
    </div>
</div>