<div class="project-card border border-white rounded-4 p-3 mb-3 text-white" style="background-color: rgba(255, 255, 255, 0.05); cursor: pointer;" @onclick="HandleClick">
    <div class="row">
        <div class="col-2">
            @project.DesignCode
        </div>
        <div class="col">
            @project.ProjectName
        </div>
        
        <div class="col-2">
             @project.POStatus
        </div>
    </div>
</div>

@code {
    [Parameter]
    public required Project project { get; set; }

    [Parameter]
    public EventCallback<Project> OnProjectSelected { get; set; }

    private async Task HandleClick()
    {
        await OnProjectSelected.InvokeAsync(project);
    }
}
