@using ProjectManager.Tools
@inject Manager manager

<table style="width: 100%; ">
    <tr style="border-bottom: 1px solid red;">
        <th>Incumbent</th>
        <th>Grade</th>
        <th>Designation</th>
        @for (int i = CurrentWeek; i < CurrentWeek + nWeeks; i++)
        {
            <th style=@cellStyle>
                Week @(i % 52) (@CalendarLogic.GetFirstMondayOfWeek(DateTime.Today.Year, i % 52).ToString("MM/dd"))
            </th>
        }
    </tr>
    @foreach(Employee employee in Employees)
    {
        <ResourceBlockView SelectedEmployee="employee" Projects="Projects" CurrentWeek="CurrentWeek" CurrentYear="DateTime.Now.Year" NumberWeeks="nWeeks" />
    }
</table>

@code {
    List<Employee> Employees { get; set; } = [];
    List<Project> Projects { get; set; } = [];
    List<Designation> Designations { get; set; } = [];

    int CurrentWeek { get; set; }
    int nWeeks = 12;

    int cellWidth = 85;
    string cellStyle = "width: 85px;";

    Designation CurrentDesignation { get; set; }

    [Parameter]
    public required int CurrentDesignationId { get; set; }

    protected override void OnInitialized()
    {
        GetEmployees();
        Projects = manager.GetAllActiveProjects().Result.OrderByDescending(p => p.DesignCode).ToList();
        Designations = manager.GetAllDesignations().Result;
        CurrentWeek = CalendarLogic.WeekOfYear(DateTime.Now);
        cellWidth = (85 * 16) / nWeeks;
        cellStyle = $"width: {cellWidth}px; ";
    }

    protected override void OnParametersSet()
    {
        GetEmployees();
    }

    private void GetEmployees()
    {
        if(CurrentDesignationId == 0)
        {
            Employees = manager.GetAllActiveEmployees().Result;
        }
        else
        {
            Employees = manager.GetAllActiveEmployeesByDesignationId(CurrentDesignationId).Result;
        }
        
    }

    

}
