@page "/tasks"
@inject IManager manager
@rendermode InteractiveServer

<h2 class="text-2xl font-semibold mb-4" style="padding-top: 20px; padding-left: 30px">Project Task Manager (@CurrentProject.ProjectName)</h2>

<div>
    <SelectProject/>
</div>

<div>

    <NewTask ProjectId=CurrentProject.ProjectId ParentTaskId=0 OnTaskAdded="HandleTaskAdded" />

    @foreach (TaskItem taskItem in ParentTaskItems)
    {
        <div style="padding: 10px 30px 10px 30px;">
            <TaskRow ThisTask=taskItem OnTaskUpdated="HandleTaskUpdate" />
            <div style="padding: 10px 0px 10px 30px;">
                
                @if (SubTaskItems.ContainsKey(taskItem.TaskId))
                {
                    <div>
                        @foreach (TaskItem subTaskItem in SubTaskItems[taskItem.TaskId])
                        {
                            <div>
                                <TaskRow ThisTask=subTaskItem OnTaskUpdated="HandleTaskUpdate" />
                            </div>
                        }
                    </div>
                }
                <NewTask ProjectId=CurrentProject.ProjectId ParentTaskId=taskItem.TaskId OnTaskAdded="HandleTaskAdded" />
            </div>
        </div>
    }

</div>



@code {
    private Project CurrentProject;

    private List<TaskItem> ParentTaskItems;
    private List<TaskItem> IncompleteParentTaskItems;
    private List<TaskItem> CompleteParentTaskItems;
    private Dictionary<int, List<TaskItem>> SubTaskItems;

    protected override void OnInitialized()
    {
        CurrentProject = manager.CurrentProject;
        RefreshTasks();
        base.OnInitialized();
    }

    private void RefreshTasks()
    {
        IncompleteParentTaskItems = manager.GetAllIncompleteParentTasks().Result;
        CompleteParentTaskItems = manager.GetAllCompleteParentTasks().Result;
        ParentTaskItems = IncompleteParentTaskItems.Concat(CompleteParentTaskItems).ToList();
        SubTaskItems = manager.GetAllSubTasks().Result;
    }

    private void HandleTaskAdded(TaskItem task)
    {
        task.ProjectId = CurrentProject.ProjectId;
        manager.InsertTask(task);
        RefreshTasks();
    }

    private void HandleTaskUpdate(TaskItem task)
    {
        manager.UpdateTask(task);
        RefreshTasks();
    }
}
