@page "/admin"
@rendermode InteractiveServer
@inject IManager manager

<PageTitle>Admin Dashboard</PageTitle>

<div class="container" style="padding: 30px;">
  <div class="row">
    <div class="col-2">

        <h2 class="text-xl font-bold mb-4">Tables</h2>
        @foreach (var table in TableNames)
        {
           <AdminTableComponent Table="@table" OnTableSelected="SelectTable" />
        }

    </div>
    <div class="col">

            @if (SelectedTable == "Customer")
            {
                <AdminCustomer />
            }
            else if (SelectedTable == "Product")
            {
                <AdminProduct />
            }
            else if (SelectedTable == "Module")
            {
                <AdminProductModule />
            }
            else if (SelectedTable == "Grade")
            {
                <AdminGrade />
            }
            else if (SelectedTable == "Designation")
            {
                <AdminDesignation />
            }
            else if (SelectedTable == "Employee")
            {
                <AdminEmployee />
            }
            else
            {
                <p class="text-gray-500">Please select a table to view.</p>
            }

    </div>
  </div>
</div>


@code {
    private List<string> TableNames = new() { "Customer", "Product", "Module", "Grade", "Designation", "Employee" };
    private string SelectedTable = "Project";

    private void SelectTable(string table)
    {
        SelectedTable = table;
        Console.WriteLine(table);
        StateHasChanged();
    }
}
