@page "/admin"
@rendermode InteractiveServer
@inject Manager manager

<PageTitle>Admin Dashboard</PageTitle>

<div class="container" style="padding: 30px;">
  <div class="row">
    <div class="col-2">

        <h2 class="text-xl font-bold mb-4">Tables</h2>
        @foreach (var table in TableNames)
        {
           <AdminTableComponent Table="@table" OnTableSelected="SelectTable" />
        }

    </div>
    <div class="col">

            @if (SelectedTable == "Customer")
            {
                <AdminCustomer />
            }
            else if (SelectedTable == "Product")
            {
                <AdminProduct />
            }
            else if (SelectedTable == "Module")
            {
                <AdminProductModule />
            }
            else if (SelectedTable == "Project")
            {
                <AdminProject />
            }
            else if (SelectedTable == "Grade")
            {
                <AdminGrade />
            }
            else if (SelectedTable == "Designation")
            {
                <AdminDesignation />
            }
            else if (SelectedTable == "Employee")
            {
                <AdminEmployee />
            }
            else if (SelectedTable == "Review Point")
            {
                <AdminReviewPoint />
            }
            else if (SelectedTable == "Review Item")
            {
                <AdminReviewItem />
            }
            else if (SelectedTable == "Deliverables")
            {
                <AdminDeliverable />
            }
            else if (SelectedTable == "Simulation")
            {
                <AdminSimulationScenario />
            }
            else if (SelectedTable == "Functional KPI")
            {
                <AdminFunctionalKPI />
            }
            else if (SelectedTable == "Project Stage")
            {
                <AdminProjectStage />
            }
            else if (SelectedTable == "Milestone")
            {
                <AdminMilestone />
            }
            else if (SelectedTable == "Configuration")
            {
                <AdminConfiguration />
            }
            else if (SelectedTable == "Specification")
            {
                <AdminSpecification />
            }
            else
            {
                <p class="text-gray-500">Please select a table to view.</p>
            }

    </div>
  </div>
</div>


@code {
    private List<string> TableNames = new() { 
        "Project", 
        "Customer", 
        "Product", 
        "Module",
        "Configuration",
        "Specification",
        "Grade", 
        "Designation", 
        "Employee", 
        "Project Stage", 
        "Milestone",
        "Review Point", 
        "Review Item", 
        "Deliverables", 
        "Simulation", 
        "Functional KPI" };
    private string SelectedTable = "Project";

    private void SelectTable(string table)
    {
        SelectedTable = table;
        StateHasChanged();
    }
}
