@page "/admin/project"
@implements IDisposable
@attribute [Authorize (Roles = "Admin")]
@using DataModels.Tools
@inject Manager manager
@rendermode InteractiveServer

<div style="padding: 10px 20px 10px 20px;">
    <h1>Admin Panel: Project</h1>
    <AdminTable TItem="Project" Metadata="Metadata" Items="manager.ProjectDB.AllItems" OnSelected="RowClicked" />
</div>
@if (viewForm)
{
    <AdminForm TItem="Project" Metadata="Metadata" OnClose="() => viewForm = false" OnDelete="onDelete" OnUpdate="onUpdate"
        Item="Item"/>
}

@code {
    private bool viewForm = false;
    private Project Item = new();

    private TableMetadata Metadata = Project.Metadata;

    protected override void OnInitialized()
    {
        manager.ProjectDB.PropertyChanged += (_, __) => InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        manager.ProjectDB.PropertyChanged -= (_, __) => InvokeAsync(StateHasChanged);
    }

    private async void onInsert(Project item)
    {
        await manager.ProjectDB.InsertAsync(item);
    }

    private async void onUpdate(Project item)
    {
        await manager.ProjectDB.UpdateAsync(item);
    }

    private async void onDelete(Project item)
    {
        await manager.ProjectDB.DeleteAsync(item);
    }

    private void RowClicked(Project item)
    {
        viewForm = true;
        StateHasChanged();
        Item = item;
    }
}
