.add_button {
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: transparent;
}
    .add_button:hover {
        background-color: #04AA6D;
    }

::deep select {
    background-color: transparent;
    color: white;
    border: solid grey 1px;
    padding: 5px 5px;
    margin: 3px 0;
    width: 100%;
}