@page "/"
@inject Manager manager
@inject CommManager commManager

<PageTitle>nexus by iamJohnnySam</PageTitle>

<section class="hero" id="home">
    <h1>Welcome to nɛxus</h1>
</section>

<section class="projects" id="projects">
    @if (projects == null)
    {
        <div class="project-card">
            <div class="project-title">Loading Projects...</div>
            <div class="project-desc">...</div>
        </div>
    }
    else if (projects.Count == 0)
    {
        <div class="project-card">
            <div class="project-title">NO PROJECTS AVAILABLE</div>
            <div class="project-desc">...</div>
        </div>
    }
    else
    {
        @foreach (var project in projects)
        {
            <div class="project-card">
                <div class="project-title">@project.ProjectName</div>
                <div class="project-desc">Design Code: @project.DesignCode | Priority: @project.Priority</div>
            </div>
        }
    }
</section>

@code {
    private List<Project> projects = [];

    protected override async Task OnInitializedAsync()
    {
        projects = manager.Projects;
    }

}